body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    /* background-image: url('images/medium.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}


/*Change link color when you hover*/

ul.topnav li a:hover:not(.active) {
    background-color: cadetblue;
}

ul.topnav li a:active {
    background-color: blue;
}


/*Make the navbar responsive*/

@media screen and (max-width:600px) {
    ul.topnav li {
        float: none;
    }
}

.homepage {
    height: 587px;
    position: relative;
    text-align: center;
    color: white;
}

img.home-image {
    max-height: 100%;
    width: 100%;
}

.home-content {
    position: absolute;
    top: 140px;
    right: 140px;
}

h2.home-heading {
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
}

p.paragraph-content {
    font-size: 15px;
    font-weight: 600;
}