body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}


/*Change link color when you hover*/

ul.topnav li a:hover:not(.active) {
    background-color: cadetblue;
}

ul.topnav li a:active {
    background-color: blue;
}


/*Make the navbar responsive*/

@media screen and (max-width:600px) {
    ul.topnav li {
        float: none;
    }
}